{{#eui-button
  disabled=disabled
  style=style
  size=size
  width='100%'
  classBinding=":eui-select selectClass showPoplist:eui-active"
  trailingIcon="eui-icon eui-icon--select"
  ariaOwns=ariaOwns
  ariaHaspopup=ariaHasPopup}}
  <div class="eui-select-label {{unless selection 'eui-select-placeholder'}}">
    {{label}}
  </div>
  <div class="eui-select-icon"></div>
{{/eui-button}}

{{#if errorMessage}}
  <div class="eui-error-message">
    <div class="eui-error-wrapper">
      <p class="eui-error-text">
        {{errorMessage}}
      </p>
    </div>
  </div>
{{/if}}

{{#if showPoplist}}
  {{eui-poplist
    isOpen=showPoplist
    selection=_selection
    options=optionsWithBlank
    labelPath=labelPath
    style="flyin"
    modalOnMobile=true
    listWidth=listWidth
    animationStyle=animationStyle}}
{{/if}}
