<div class="eui-wrapper">
  {{#if placeholderVisible}}
    <label {{bindAttr for=inputId}}>{{placeholder}}</label>
  {{/if}}
  {{input value=value name=name disabled=disabled maxlength=maxlength tabindex=tabindex}}
</div>

{{#if computedErrorMessage}}
  <div class="eui-error-message">
    <div class="eui-error-wrapper">
      <p>
        {{computedErrorMessage}}
      </p>
    </div>
  </div>
{{/if}}
