<button class="eui-button eui-tiny eui-secondary">
  <div class="eui-wrapper">
    <i>Button</i>
  </div>
</button>

<button class="eui-button eui-small eui-secondary">
  <div class="eui-wrapper">
    <i>Button</i>
  </div>
</button>

<button class="eui-button eui-medium eui-secondary">
  <div class="eui-wrapper">
    <i>Button</i>
  </div>
</button>

<button class="eui-button eui-large eui-secondary">
  <div class="eui-wrapper">
    <i>Button</i>
  </div>
</button>

<br />


<button class="eui-button eui-tiny eui-primary">
  <div class="eui-wrapper">
    <i>Button</i>
  </div>
</button>

<button class="eui-button eui-small eui-primary">
  <div class="eui-wrapper">
    <i>Button</i>
  </div>
</button>

<button class="eui-button eui-medium eui-primary">
  <div class="eui-wrapper">
    <i>Button</i>
  </div>
</button>

<button class="eui-button eui-large eui-primary">
  <div class="eui-wrapper">
    <i>Button</i>
  </div>
</button>
