<div class="eui-component-wrapper">
  <div class="eui-label">
    {{yield}}
  </div>

  {{#if loading}}
    <ul class="eui-loading-animation">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  {{/if}}
</div>
