<div class="eui-popupwrapper">
  <ul class="eui-options">
    {{#each actionList}}
      {{#unless primary}}
      <li class="option" {{action 'actionThenHide' this.action}}>{{label}}</li>
      {{/unless}}
    {{/each}}
  </ul>
</div>

