<div class="eui-wrapper">
  <i>
    {{#if icon}}
      <b {{bind-attr class='icon title::eui-no-title'}}></b>
    {{/if}}

    {{title}}
  </i>

  {{#if loading}}
    <ul class="eui-loading-animation">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  {{/if}}
</div>
