<div class="eui-component-wrapper">
  {{yield}}
</div>

{{#if errorMessage}}
  <div class="eui-error-message">
    <div class="eui-error-wrapper">
      <p class="eui-error-text">
        {{errorMessage}}
      </p>
    </div>
  </div>
{{/if}}
