@import "compass";
$experimental-support-for-svg: true;

.eui-input,
.eui-textarea {
  display: inline-block;
  vertical-align: middle;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;

  .eui-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  input,
  textarea {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
    @include box-sizing(border-box);
    font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
    resize: none;
  }

  label {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include box-sizing(border-box);
    text-align: left;
  }
}


/* SIZES */
.eui-input,
.eui-textarea {
  &.eui-tiny {
    border-radius: 3px;
    font-size: 9px;

    .eui-wrapper {
      height: 18px;
      line-height: 18px;
    }

    input,
    textarea {
      border-radius: 3px;
      padding: 3px 4px;
      font-size: inherit;
    }

    label {
      padding: 0 4px;
    }
  }

  &.eui-small {
    border-radius: 3px;
    font-size: 11px;

    .eui-wrapper {
      height: 25px;
      line-height: 25px;
    }

    input,
    textarea {
      border-radius: 3px;
      padding: 6px 5px;
      font-size: inherit;
    }

    label {
      padding: 0 5px;
    }
  }

  &.eui-medium {
    border-radius: 4px;
    font-size: 14px;

    .eui-wrapper {
      height: 35px;
      line-height: 35px;
    }

    input,
    textarea {
      border-radius: 4px;
      padding: 10px 7px;
      font-size: inherit;
    }

    label {
      padding: 0 7px;
    }
  }

  &.eui-large {
    border-radius: 5px;
    font-size: 17px;

    .eui-wrapper {
      height: 45px;
      line-height: 45px;
      font-size: 17px;
    }

    input,
    textarea {
      border-radius: 5px;
      padding: 12px 9px;
      font-size: inherit;
    }

    label {
      padding: 0 9px;
    }
  }
}

.eui-textarea .eui-wrapper { height: 100% !important;}


/*
  * TYPES
  *
  * Default: White inputs
  *
  */
.eui-input,
.eui-textarea {
  /* Default */
  &.eui-default {
    @include background-image(linear-gradient(top,  rgba(0, 0, 0, 0.3) 0%,  rgba(0, 0, 0, 0.15) 100%));

    label {
      color: #b9b9b9;
    }

    input,
    textarea {
      color: #303030;
      box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
      @include background-image(linear-gradient(top, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 50%));
    }

    /* disabled */
    input:disabled,
    textarea:disabled {
      background: #f6f6f6;
      color: #777777;
    }
  }

  /* focus */
  input:focus,
  textarea:focus {
    margin: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border: solid 1px #7fb5ff;
    box-shadow:
      0px 0px 4px #0090ff,
      inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    -webkit-animation: eui-focus-highlight 0.2s 1;
    -moz-animation: eui-focus-highlight 0.2s 1;
    animation: eui-focus-highlight 0.2s 1;
  }
}


/* ERROR */
.eui-input.eui-error input,
.eui-input.eui-error input:focus,
.eui-textarea.eui-error textarea,
.eui-textarea.eui-error textarea:focus {
  margin: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: solid 1px #ff7f7f;
  box-shadow:
    0px 0px 4px #ff0000,
    inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  outline: none;
  -webkit-animation: eui-error-highlight 0.2s 1;
  -moz-animation: eui-error-highlight 0.2s 1;
  animation: eui-error-highlight 0.2s 1;
}



@-webkit-keyframes eui-error-highlight {
  0%   {
    border: solid 1px transparent;
    box-shadow:
      0px 0px 0px #ff0000,
      inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  }
  100% {
    border: solid 1px #ff7f7f;
    box-shadow:
      0px 0px 4px #ff0000,
      inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  }
}

@-webkit-keyframes eui-focus-highlight {
  0%   {
    border: solid 1px transparent;
    box-shadow:
      0px 0px 0px #0090ff,
      inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  }
  100% {
    border: solid 1px #7fb5ff;
    box-shadow:
      0px 0px 4px #0090ff,
      inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  }
}

@-moz-keyframes eui-error-highlight {
  0%   {
    border: solid 1px transparent;
    box-shadow:
      0px 0px 0px #ff0000,
      inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  }
  100% {
    border: solid 1px #ff7f7f;
    box-shadow:
      0px 0px 4px #ff0000,
      inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  }
}

@-moz-keyframes eui-focus-highlight {
  0%   {
    border: solid 1px transparent;
    box-shadow:
      0px 0px 0px #0090ff,
      inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  }
  100% {
    border: solid 1px #7fb5ff;
    box-shadow:
      0px 0px 4px #0090ff,
      inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  }
}

@keyframes eui-error-highlight {
  0%   {
    border: solid 1px transparent;
    box-shadow:
      0px 0px 0px #ff0000,
      inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  }
  100% {
    border: solid 1px #ff7f7f;
    box-shadow:
      0px 0px 4px #ff0000,
      inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  }
}

@keyframes eui-focus-highlight {
  0%   {
    border: solid 1px transparent;
    box-shadow:
      0px 0px 0px #0090ff,
      inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  }
  100% {
    border: solid 1px #7fb5ff;
    box-shadow:
      0px 0px 4px #0090ff,
      inset 0px 2px 3px rgba(0, 0, 0, 0.1);
  }
}
