@import "compass";
$experimental-support-for-svg: true;

/*
  * STYLES
  *
  * default: default
  *
  */
.eui-modal {
  &.eui-default {
    .eui-overlay {
      @include background-image(radial-gradient(center, ellipse cover, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.10) 50%,rgba(0,0,0,0.30) 100%));
      -webkit-animation: modal-fadein 0.4s 1;
      -moz-animation: modal-fadein 0.4s 1;
      animation: modal-fadein 0.4s 1;
    }

    .eui-modalobject {
      @include border-radius(7px);
      @include background-image(linear-gradient(top,  rgba(0, 0, 0, 0.08) 0%,  rgba(0, 0, 0, 0.20) 100%));
      padding: 1px;
      -webkit-animation: modal-zoomin 0.15s 1;
      -moz-animation: modal-zoomin 0.15s 1;
      animation: modal-zoomin 0.15s 1;
      box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    }

    .eui-modalwrapper {
      @include border-radius(7px);
      background: #ffffff;
    }

    &.eui-closing {
      .eui-overlay {
        opacity: 0;
        -webkit-animation: modal-fadeout 0.4s 1 reverse;
        -moz-animation: modal-fadeout 0.4s 1 reverse;
        animation: modal-fadeout 0.4s 1 reverse;
      }

      .eui-modalobject {
        opacity: 0;
        -webkit-animation: modal-zoomout 0.15s 1;
        -moz-animation: modal-zoomout 0.15s 1;
        animation: modal-zoomout 0.15s 1;
      }
    }
  }

  &.eui-full {
    .eui-overlay {
      background: #ffffff;
      @include background-image(radial-gradient(center, ellipse cover, rgba(0,0,0,0.0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.20) 150%));
      -webkit-animation: modal-fadein 0.4s 1;
      -moz-animation: modal-fadein 0.4s 1;
      animation: modal-fadein 0.4s 1;
    }

    .eui-modalobject {
      -webkit-animation: modal-zoomin 0.15s 1;
      -moz-animation: modal-zoomin 0.15s 1;
      animation: modal-zoomin 0.15s 1;
    }

    &.eui-closing {
      .eui-overlay {
        opacity: 0;
        -webkit-animation: modal-fadeout 0.4s 1 reverse;
        -moz-animation: modal-fadeout 0.4s 1 reverse;
        animation: modal-fadeout 0.4s 1 reverse;
      }

      .eui-modalobject {
        opacity: 0;
        -webkit-animation: modal-zoomout 0.15s 1;
        -moz-animation: modal-zoomout 0.15s 1;
        animation: modal-zoomout 0.15s 1;
      }
    }
  }
}
