@import "compass";
$experimental-support-for-svg: true;

.eui-popup {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000001;

  .eui-options {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
    font-family: Helvetica, "Helvetica Neue", Arial, Tahoma, sans-serif;
    overflow: hidden;
  }

  .eui-option {
    position: absolute;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
  }
}

/*
  * STYLES
  *
  * bubble: for use with dropbutton
  *
  */
.eui-popup {
  &.eui-bubble {
    @include border-radius(3px);
    padding: 1px;
    margin-top: -2px;
    @include background-image(linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.25) 100%));
    box-shadow: 3px 5.196px 20px 0px rgba(0,0,0,0.2);
    -webkit-animation-duration: 0.2s;
    -webkit-animation-name: eui-bouncein;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: eui-bouncein;
    animation-duration: 0.2s;
    animation-name: eui-bouncein;
    max-height: calc(100% - 100px);

    &:before {
      content: "";
      position: absolute;
      top: -5px;
      right: 10px;
      border-bottom: solid 5px rgba(0,0,0,0.1);
      border-right: solid 5px transparent;
      border-left: solid 5px transparent;
    }

    &:after {
      content: "";
      position: absolute;
      top: -4px;
      right: 10px;
      border-bottom: solid 5px #ffffff;
      border-right: solid 5px transparent;
      border-left: solid 5px transparent;
    }

    .eui-popupwrapper {
      background: #ffffff;
      @include border-radius(3px);
      padding: 5px 0;
    }

    .eui-option {
      padding: 0 7.5px;

      &.eui-hover {
        @include background-image(linear-gradient(top,  #1493dc 0%, #64bcf7 100%));
        color: #ffffff;
        text-shadow: 0px 1px rgba(0,0,0,0.35);
      }
    }
  }
}
