@import "compass";
$experimental-support-for-svg: true;

.eui-select {
  position: relative;

  .eui-select-form {
    padding: 1px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  }

  .eui-wrapper {
    border-radius: inherit;
    padding-bottom: 1px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  i {
    @include transition(opacity 0.2s, color 0.2s);
  }
}


/* SIZES */
.eui-select {
  &.eui-tiny {
    .eui-select-form {
      border-radius: 3px;
      padding: 1px;
    }

    .eui-wrapper {
      height: 18px;
      min-width: 8px;
    }
  }

  &.eui-small {
    .eui-select-form {
      border-radius: 3px;
      padding: 1px;
    }

    .eui-wrapper {
      height: 25px;
      min-width: 1px;
    }
  }

  &.eui-medium {
    .eui-select-form {
      border-radius: 4px;
      padding: 1px;
    }

    .eui-wrapper {
      height: 35px;
      min-width: 5px;
    }
  }

  &.eui-large {
    .eui-select-form {
      border-radius: 5px;
      padding: 1px;
    }

    .eui-wrapper {
      height: 45px;
      min-width: 5px;
    }
  }
}


/*
  * STYLES
  *
  * Default: Gray select
  *
  */
.eui-select {
  /* Default */
  &.eui-default {
    .eui-select-form {
      color: #848484;
      text-shadow: 1px 1px #ffffff;
      @include background-image(linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.30) 100%));
    }

    .eui-wrapper {
      @include background-image(linear-gradient(top, rgba(255,255,255,1) 0%,rgba(249,249,249,1) 50%,rgba(243,243,243,1) 50%,rgba(229,229,229,1) 100%));
    }

    .eui-icon {
      color: #ababab;
    }

    /* active */
    &:active,
    &.eui-active,
    button:active + {
      .eui-select-form {
        background: none;
        @include background-image(linear-gradient(top,  rgba(0,0,0,0.30) 0%,rgba(0,0,0,0.15) 100%));

        .eui-wrapper {
          @include background-image(linear-gradient(top, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%));
        }
      }
    }

    /* disabled */
    &.eui-disabled {
      .eui-wrapper {
        background: #f3f3f3;
        color: #b9b9b9;
      }
    }

    /* placeholder */
    &.eui-placeholder i {
      color: #b9b9b9;
    }
  }


  /* hover */
  .eui-wrapper:before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left:0px;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: rgba(255,255,255,0.1);
    opacity: 0;
    @include transition(opacity 0.2s);
  }

  &:hover .eui-wrapper:before {
    opacity: 1;
  }

  /* focus */
  button:focus + .eui-select-form {
    background: rgba(0,107,255,0.5) !important;
    box-shadow: 0px 0px 4px #0090ff !important;
    z-index: 1;
  }

  /* active */
  &:active,
  &.eui-active,
  button:active + {
    .eui-select-form {
      box-shadow: none;

      .eui-wrapper {
        padding-bottom: 0px !important;
        padding-top: 1px !important;
        box-shadow: inset 0px 1px 3px rgba(0,0,0,0.15);
      }

      .eui-icon {
        padding-top: 1px;
      }
    }
  }
}
