.eui-input,
.eui-textarea {
  padding: 1px;
  display: inline-block;
  vertical-align: middle;

  .eui-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border: solid 1px rgba(0,0,0,0.2);
  }

  input,
  textarea {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
    box-sizing: border-box;
    resize: none;
  }

  label {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: left;
    color: #c6c6c6;
  }

  /* disabled */
  input:disabled,
  textarea:disabled {
    background: #f6f6f6;
    color: #777777;
  }
}


/* SIZES */
.eui-input,
.eui-textarea {
  &.eui-tiny {
    font-size: 9px;

    .eui-wrapper {
      height: 18px;
      line-height: 18px;
    }

    input,
    textarea {
      padding: 3px 4px;
      font-size: inherit;
    }

    label {
      padding: 0 4px;
    }
  }

  &.eui-small {
    font-size: 11px;

    .eui-wrapper {
      height: 25px;
      line-height: 25px;
    }

    input,
    textarea {
      padding: 6px 5px;
      font-size: inherit;
    }

    label {
      padding: 0 5px;
    }
  }

  &.eui-medium {
    font-size: 14px;

    .eui-wrapper {
      height: 35px;
      line-height: 35px;
    }

    input,
    textarea {
      border-radius: 4px;
      padding: 10px 7px;
      font-size: inherit;
    }

    label {
      padding: 0 7px;
    }
  }

  &.eui-large {
    font-size: 17px;

    .eui-wrapper {
      height: 45px;
      line-height: 45px;
      font-size: 17px;
    }

    input,
    textarea {
      border-radius: 5px;
      padding: 12px 9px;
      font-size: inherit;
    }

    label {
      padding: 0 9px;
    }
  }
}

.eui-textarea .eui-wrapper { height: 100% !important;}
