.eui-modal {
  display: inline;

  .eui-modal-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 1000001;
  }

  .eui-modal-table {
    display: table;
    width: 100%;
    height: 100%;
  }

  .eui-modal-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
  }

  .eui-overlay {
    position: absolute;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000002;
    background: rgba(0,0,0,0.1);
  }

  .eui-modalobject {
    position: relative;
    display: inline-block;
    opacity: 0.01;
    z-index: 1000003;
    text-align: left;
    background: #ffffff;
  }

  .eui-modalobject-wrapper {
    height: 100%;
    width: 100%;
  }
}

// Disables page scrolling when modal is open
.eui-modal-open {
  overflow: hidden;

  // Required for mobile
  &.ember-application > div.ember-view:first-of-type,
  .ember-application > div.ember-view:first-of-type {
    overflow: hidden;
  }
}
