.eui-modal {
  .eui-modal-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 1000001;
  }

  .eui-modal-table {
    display: table;
    width: 100%;
    height: 100%;
  }

  .eui-modal-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
  }

  .eui-overlay {
    position: absolute;
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000002;
    background: rgba(0,0,0,0.1);
  }

  .eui-modalobject {
    position: relative;
    display: inline-block;
    opacity: 1;
    z-index: 1000003;
    text-align: left;
    background: #ffffff;
  }

  .eui-modalobject-wrapper {
    height: 100%;
    width: 100%;
  }
}

// Disables page scrolling for mobile
@media (min-device-width : 320px) and (max-device-width : 480px) {
  .eui-modal-open {
    overflow: hidden;
  }
}
