.eui-month {
  width: 259px;
  height: 222px;
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #474747;

  .eui-slot {
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin: 1px;
  }

  .eui-day {
    cursor: pointer;
    border-radius: 3px;
    transition: color 0.2s;

    &:hover {
      color: #39a6e9;
    }
  }

  .eui-today {
    font-weight: bold;
    color: #f00000;
  }

  .eui-selected {
    background-image: linear-gradient(to bottom, #1493dc 0%, #64bcf7 100%);
    color: #ffffff;
    text-shadow: 0px 1px rgba(0,0,0,0.35);
    box-shadow: inset 0px 1px 4px rgba(0,64,98,0.4);
    transition: none;

    &:hover {
      color: #ffffff;
    }
  }
}
