.eui-modal {
  display: table;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1000001;
  text-align: center;

  .eui-verticalspacer {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }

  .eui-overlay {
    position: absolute;
    opacity: 1;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000002;
    background: rgba(0,0,0,0.1);
  }

  .eui-modalobject {
    display: inline-block;
    position: relative;
    margin: auto;
    opacity: 1;
    z-index: 1000003;
    text-align: left;
    background: #ffffff;
  }

  .eui-modalwrapper {
    height: 100%;
    width: 100%;
  }
}
