.eui-select {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  button {
    position: absolute;
    opacity: 0.0001;
    top: 0px;
    left: -9000px;
  }

  .eui-select-form {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    background: #f6f6f6;
    outline: none;
  }

  .eui-wrapper {
    width: 100%;
    padding: 0 7px;
    position: relative;
    @include box-sizing(border-box);
  }

  i {
    display: block;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
  }

  .eui-icon {
    position: absolute;
    right: 7px;
    top: 0px;
    height: 100%;
    padding-left: 7px;

    &:before {
      content: "\f0d8\A\f0d7";
      font-family: "FontAwesome";
      display: inline-block;
      line-height: 0.8em;
      white-space: pre;
      text-align: center;
      vertical-align: middle;
    }
  }

  /* Disabled */
  &.eui-disabled {
    pointer-events: none;
  }
}

/* SIZES */
.eui-select {
  &.eui-tiny {
    line-height: 18px;
    font-size: 9px;
  }

  &.eui-small {
    line-height: 25px;
    font-size: 11px;
  }

  &.eui-medium {
    line-height: 35px;
    font-size: 14px;
  }

  &.eui-large {
    line-height: 45px;
    font-size: 17px;
  }
}
