.eui-poplist {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000001;
  opacity: 0.1;
  outline: none;
  max-height: calc(100% - 100px);
  border: solid 1px rgba(0,0,0,0.15);
  overflow: visible !important;
  height: auto !important;

  &.eui-closing {
    opacity: 0;
  }

  .eui-poplistwrapper {
    background: #ffffff;
    padding: 5px 0;
  }

  .eui-options {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 20px;
    overflow: hidden;
  }

  .eui-option {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 7.5px;

    &.eui-hover {
      background: #32a2e6;
      color: #ffffff;
    }
  }

  .eui-nooptions {
    padding: 0 7.5px;
    line-height: 20px;
  }

  .eui-search-wrapper {
    border-bottom: solid 1px transparent;
    height: 0px;
    overflow: hidden;

    &.eui-active {
      height: 27px;
      border-bottom-color: #d7d7d7;
    }
  }

  .eui-search {
    outline: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px 5px 5px;
  }
}

// Disables page scrolling when poplist is open
.eui-poplist-open {
  overflow: hidden;

  // Required for mobile
  &.ember-application > .ember-view:first-of-type,
  .ember-application > .ember-view:first-of-type {
    overflow: hidden;
  }
}
