eui-selectdate {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;

  /* Disabled */
  &.eui-disabled {
    pointer-events: none;
  }
}

.eui-selectdate-label {
  text-align: left
}

.eui-selectdate-placeholder {
  opacity: 0.6;
}

.eui-selectdate-icon:before {
  font-family: "emberui";
  content: "\e003";
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  padding-left: 7px;
  opacity: 0.4;
}


eui-selectdate [class*="-tiny"] {
  .eui-component-wrapper {
    padding: 0 5px;
  }
}

eui-selectdate [class*="-small"] {
  .eui-component-wrapper {
    padding: 0 5px;
  }
}

eui-selectdate [class*="-medium"] {
  .eui-component-wrapper {
    padding: 0 10px;
  }
}

eui-selectdate [class*="-large"] {
  .eui-component-wrapper {
    padding: 0 10px;
  }
}

.eui-selectdate--window {
  background-image: linear-gradient(to bottom,
    rgba(0,0,0,0.1) 0%,
    rgba(0,0,0,0.25) 100%);
  border: none !important;
  padding: 1px;
  box-shadow: 3px 5.196px 20px 0px rgba(0,0,0,0.2);
}
  .eui-selectdate--window-wrapper {
    background: #ffffff;
    border-radius: 3px;
    display: flex;
  }

  .eui-selectdate--window-column {
    flex: 1;
    min-width: 279px; // IE fix
  }

  .eui-selectdate--window-column-header {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #262626;
    font-weight: 600;
    line-height: 50px;
  }

  .eui-selectdate--window-previous,
  .eui-selectdate--window-next {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    outline: none;
    color: #39a6e9;
    line-height: 50px;

    &:disabled {
      color: #e2e2e2;
      pointer-events: none;
    }
  }

  .eui-selectdate--window-next {
    left: auto;
    right: 0px;
  }
