eui-selectdate {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;

  /* Disabled */
  &.eui-disabled {
    pointer-events: none;
  }
}

.eui-selectdate-label {
  text-align: left
}

.eui-selectdate-placeholder {
  opacity: 0.6;
}

.eui-selectdate-icon:before {
  font-family: "emberui";
  content: "\e003";
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  padding-left: 7px;
  opacity: 0.4;
}


eui-selectdate [class*="-tiny"] {
  .eui-component-wrapper {
    padding: 0 5px;
  }
}

eui-selectdate [class*="-small"] {
  .eui-component-wrapper {
    padding: 0 5px;
  }
}

eui-selectdate [class*="-medium"] {
  .eui-component-wrapper {
    padding: 0 10px;
  }
}

eui-selectdate [class*="-large"] {
  .eui-component-wrapper {
    padding: 0 10px;
  }
}
