eui-select {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;

  .eui-component-wrapper {
    text-align: left
  }

  .eui-trailing-icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    padding-left: 7px;
  }

  /* Disabled */
  &.eui-disabled {
    pointer-events: none;
  }

  &.eui-placeholder {
    .eui-label-value {
      opacity: 0.6;
    }
  }

  .eui-trailing-icon {
    opacity: 0.4;
  }
}
