eui-selectdate {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;

  /* Disabled */
  &.eui-disabled {
    pointer-events: none;
  }

  &.eui-placeholder {
    .eui-selectdate-button {
      opacity: 0.6;
    }
  }
}

.eui-selectdate-label {
  text-align: left
}

.eui-selectdate-icon:before {
  font-family: "emberui";
  content: "\e003";
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  padding-left: 7px;
  opacity: 0.4;
}
