eui-input {
  padding: 1px;
  display: inline-block;
  vertical-align: middle;
  font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;

  .eui-component-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border: solid 1px rgba(0,0,0,0.2);
  }

  input,
  textarea {
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
    box-sizing: border-box;
    resize: none;
    font-family: "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
  }

  /* disabled */
  input:disabled,
  textarea:disabled {
    background: #f6f6f6;
    color: #777777;
  }
}
