.eui-month {
  padding: 0;
  margin: 0;

  .eui-month--daysofweek {
    list-style: none;
    margin: 0px;
    padding: 0;
    background: #f7f7f7;
    height: 30px;
    line-height: 30px;
    color: #9e9e9e;
    font-size: 13px;
    text-align: center;

    .eui-nameofday {
      width: calc(100% / 7);
      float: left;
    }
  }

  .eui-month--slots {
    width: 259px;
    height: 222px;
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #474747;
    user-select: none;
  }

  .eui-month--slot {
    float: left;
    width: 41px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin: 1px -2px;
    padding: 0;
  }

  .eui-month--day {
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      color: #39a6e9;
      background: #ebf6fd;
    }
  }

  .eui-month--today {
    font-weight: bold;
    color: #f00000 !important;

    &.eui-month--selected {
      color: #fffebc !important;
    }
  }

  .eui-month--selected {
    background-image: linear-gradient(to bottom, #1493dc 0%, #64bcf7 100%);
    color: #ffffff;
    text-shadow: 0px 1px rgba(0,0,0,0.35);
    box-shadow: inset -1px 1px 1px rgba(0,64,98,0.4);

    &:hover {
      color: #ffffff;
      background-image: linear-gradient(to bottom, #1493dc 0%, #64bcf7 100%);
    }
  }

  .eui-month--selected + .eui-month--day:hover:not(.eui-month--selected) {
    width: 33px;
    padding-right: 4px;
    margin-left: 2px;
  }

  .eui-month--disabled {
    pointer-events: none;
    color: #d4d4d4;
  }
}
