<h3>Overview</h3>

<p>
  EmberUI is a collection of components frequently required when building complex applications. Each component has been carefully designed to look good, provide a great user experience, and be simple to use and customize.
</p>

<h3>Why?</h3>
<p>
  At <a href="http://venn.lc">Venn</a> we do a lot of client work and it is frustrating building the same things over and over. We created EmberUI provide a cohesive set of components that are flexible in their design and can be used across multiple products.
</p>
<p>
  You can see the full range of components in action on our own product, <a href="http://guestlistapp.com">Guestlist</a>.
</p>

<h3>Installation</h3>

<p>EmberUI Requires Ember 1.13+ and is installed via ember-cli.</p>

<pre>$ ember install emberui@1.0.0-beta-4</pre>

<p>
   To make use of the default styling you also need to import the relevant css into your project. In your app.scss file add the following:
</p>

<pre>@import "emberui";
@include emberui-theme();
</pre>

<h3>Dependencies</h3>

<ul class="dependencies">
  <li>
    <a href="http://momentjs.com">moment.js</a>
    <p>
       All date components make use of <em>momentjs</em> for sane date handling.
    </p>
  </li>
  <li>
    <a href="http://isaaccambron.com/twix.js">twix.js</a>
    <p>
      Used to format the date ranges for the <em>selectdate</em> component.
    </p>
  </li>
</ul>

<h3>Design Files</h3>

<p>
  In the future we will provide Photoshop files for each component to make building mockups easier.
</p>
