@media (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    min-width: 0px;
  }

  .container {
    width: auto;
  }

  .site-navigation {
    ul {
      display: none;
      float: none;
      padding-bottom: 15px;

      li {
        float: none;
        line-height: 35px;
      }

      &.active { display: block; }
    }

    .show-links {
      display: block;
    }
  }

  .docs-navigation {
    float: none;
    overflow: auto;
    width: 100%;

    .mobile-float {
      float: left;
    }

    .mobile-float-right {
      float: left;
    }
  }

  .docs-content {
    width: auto;
    float: none;
  }

  .homepage {
    min-height: 0px;

    .banner {
      min-width: 0px;

      h1 {
        font-size: 36px;
      }

      h2 {
        font-size: 20px;
        line-height: 24px;
      }
      .demo { display: none; }

      .download {
        font-size: 14px;

        li:last-child {
          display: none;
        }
      }
    }

    .bar {
      padding: 50px 0;
    }

    .designed {
      .copy {
        width: auto;
        float: none;
      }
    }

    .customize {
      .copy {
        float: none;
        width: auto;
      }

      .components {
        float: none;
        margin: 0 0 -50px 0;
      }
    }

    .column {
      padding: 30px 0 0 0;
      margin: 0;
      width: auto;

      &:first-child {
        padding-top: 50px;
      }

      &:last-child {
        padding-bottom: 30px;
      }
    }
  }
}
