.eui-selectdate {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  outline: none;

  .eui-wrapper {
    text-align: left
  }

  b.eui-icon {
    position: absolute;
    right: 8px;
    top: 0px;
    height: 100%;
    padding-left: 7px;

    &:before {
      content: "\f0d8\A\f0d7";
      font-family: "FontAwesome";
      display: inline-block;
      line-height: 0.8em;
      white-space: pre;
      text-align: center;
      vertical-align: middle;
    }
  }

  /* Disabled */
  &.eui-disabled {
    pointer-events: none;
  }

  &.eui-placeholder {
    i {
      opacity: 0.6;
    }
  }

  /* Active */
  .eui-active b.eui-icon {
    top: 1px;
  }
}


/* SIZES & ICONS */
.eui-selectdate .eui-button {
  &.eui-tiny {
    .eui-wrapper {
      padding: 0 15px 0 5px;
    }

    b.eui-icon {
      right: 5px;
    }
  }

  &.eui-small {
    .eui-wrapper {
      padding: 0 20px 0 10px;
    }
  }

  &.eui-medium {
    .eui-wrapper {
      padding: 0 25px 0 10px;
    }

    b.eui-icon {
      right: 9px;
    }
  }

  &.eui-large {
    .eui-wrapper {
      padding: 0 30px 0 10px;
    }

    b.eui-icon {
      right: 11px;
    }
  }
}
