.eui-singlebutton,
.eui-groupbutton {
  display: inline-block;
  vertical-align: middle;
}

.eui-groupbutton {
  .eui-button {
    &.eui-primaryaction {
      float: left;

    }

    &.eui-trigger {
      float: left;
      border-left: solid 1px #d4d4d4;
    }
  }
}

.eui-button {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;

  button {
    position: absolute;
    opacity: 0.0001;
    top: 0px;
    left: -9000px;
  }

  .eui-button-form {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    background: #f6f6f6;
    outline: none;
  }

  .eui-wrapper {
    position: relative;
    text-align: center;
  }

  i {
    font-style: normal;
  }

  /* Disabled */
  &.eui-disabled {
    pointer-events: none;
    color: #ababab;
  }
}

/* SIZES & ICONS */
.eui-button {
  &.eui-tiny {
    .eui-button-form {
      padding: 0 5px;
      line-height: 18px;
      font-size: 9px;
    }
  }

  &.eui-small {
    .eui-button-form {
      padding: 0 13px;
      line-height: 25px;
      font-size: 11px;
    }

    &.eui-no-label {
      .eui-button-form {
        padding: 0px;
      }

      .eui-wrapper {
        padding: 0 6px;
      }
    }
  }

  &.eui-medium {
    .eui-button-form {
      padding: 0 25px;
      line-height: 35px;
      font-size: 14px;
    }

    &.eui-no-label {
      .eui-button-form {
        padding: 0px;
      }

      .eui-wrapper {
        padding: 0 12px;
      }
    }
  }

  &.eui-large {
    .eui-button-form {
      padding: 0 35px;
      line-height: 45px;
      font-size: 17px;
    }

    &.eui-no-label {
      .eui-button-form {
        padding: 0px;
      }

      .eui-wrapper {
        padding: 0 15px;
      }
    }
  }
}

/* LOADING */
.eui-button.eui-loading {
  i {
    opacity: 0;
  }

  .eui-loading-animation {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0 4px;
    box-sizing: border-box;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      float: none;
      vertical-align: middle;
      width: 7px;
      height: 7px;
      padding: 0;
      border: none;
      margin: 0;
      opacity: 0.4;
      border-radius: 7px;
      box-shadow: 1px 1px rgba(255,255,255,0.1);
      background: rgba(0,0,0,0.2);
      transition: background 0.2s;
      animation: eui-button-loading 1s infinite;

      &:nth-child(3n+2) {
        animation-delay: 0.15s;
      }

      &:nth-child(3n+3) {
        animation-delay: 0.3s;
      }
    }
  }
}
