.eui-singlebutton,
.eui-groupbutton {
  display: inline-block;
  vertical-align: middle;
}

.eui-groupbutton {
  .eui-button {
    &.eui-primaryaction {
      .eui-button-form {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }

    &.eui-trigger {
      margin-left: -1px;
      border-left: none;

      .eui-button-form {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }
}

.eui-button {
  position: relative;

  .eui-button-form {
    padding: 1px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  }

  .eui-wrapper {
    border-radius: inherit;
    padding-bottom: 1px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  i {
    transition: opacity 0.2s;
  }
}


/* SIZES */
.eui-button {
  &.eui-tiny {
    .eui-button-form {
      border-radius: 3px;
      padding: 1px !important;
    }

    .eui-wrapper {
      height: 18px;
      line-height: 18px;
      padding: 0 5px;
      min-width: 8px;
    }
  }

  &.eui-small {
    .eui-button-form {
      border-radius: 3px;
      padding: 1px !important;
    }

    .eui-wrapper {
      height: 25px;
      line-height: 25px;
      padding: 0 11px;
      min-width: 1px;
    }
  }

  &.eui-medium {
    .eui-button-form {
      border-radius: 4px;
      padding: 1px !important;
    }

    .eui-wrapper {
      height: 35px;
      line-height: 35px;
      padding: 0 15px;
      min-width: 5px;
    }
  }

  &.eui-large {
    .eui-button-form {
      border-radius: 5px;
      padding: 1px !important;
    }

    .eui-wrapper {
      height: 45px;
      line-height: 45px;
      padding: 0 20px;
      min-width: 5px;
    }
  }
}


/*
  * STYLES
  *
  * Primary: Blue button
  * Default: Gray button
  *
  */
.eui-button {
  /* Primary */
  &.eui-primary {
    .eui-button-form {
      color: #ffffff;
      text-shadow: 0px -1px rgba(0,0,0,0.2);
      background-image: linear-gradient(to bottom,  rgba(0, 90, 147, 0.6) 0%,  rgba(0, 72, 117, 0.7) 100%);
    }

    .eui-wrapper {
      box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3);
      background-image: linear-gradient(to bottom, rgba(97,190,253,1) 0%,rgba(77,179,234,1) 50%,rgba(73,172,225,1) 50%,rgba(63,153,205,1) 100%);
    }

    /* active */
    &:active,
    &.eui-active,
    button:active + {
      .eui-button-form {
        background: none;
        background-image: linear-gradient(to bottom,  rgba(0, 72, 117, 0.7) 0%,  rgba(0, 90, 147, 0.6) 100%);

        .eui-wrapper {
          background-image: linear-gradient(to bottom, #4ea5d9 0%, #51b6ee 100%);
        }
      }
    }

    /* disabled */
    &.eui-disabled {
      .eui-wrapper {
        background: #51b6ee;
        color: #b6ddf7;
      }
    }

    /* loading */
    .eui-loading-animation li {
      box-shadow:
        1px 1px 0px rgba(255,255,255,0.3),
        inset 0px 1px 0px rgba(0,0,0,0.1);
    }
  }

  /* Default */
  &.eui-default {
    .eui-button-form {
      color: #848484;
      text-shadow: 1px 1px #ffffff;
      background-image: linear-gradient(to bottom,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.30) 100%);
    }

    .eui-wrapper {
      background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(249,249,249,1) 50%,rgba(243,243,243,1) 50%,rgba(229,229,229,1) 100%);
    }

    /* active */
    &:active,
    &.eui-active,
    button:active + {
      .eui-button-form {
        background: none;
        background-image: linear-gradient(to bottom,  rgba(0,0,0,0.30) 0%,rgba(0,0,0,0.15) 100%);

        .eui-wrapper {
          background-image: linear-gradient(to bottom, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);
        }
      }
    }

    /* disabled */
    &.eui-disabled {
      .eui-wrapper {
        background: #f3f3f3;
        color: #b9b9b9;
      }
    }

    /* loading */
    .eui-loading-animation li {
      box-shadow:
        1px 1px 0px rgba(255,255,255,1),
        inset 0px 1px 0px rgba(0,0,0,0.1);
    }
  }


  /* hover */
  .eui-wrapper:before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left:0px;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: rgba(255,255,255,0.1);
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover .eui-wrapper:before {
    opacity: 1;
  }

  /* focus */
  button:focus + .eui-button-form {
    background: rgba(0,107,255,0.5) !important;
    box-shadow: 0px 0px 4px #0090ff !important;
    z-index: 1;
  }

  /* active */
  &:active,
  &.eui-active,
  button:active + {
    .eui-button-form {
      box-shadow: none;

      .eui-wrapper {
        padding-bottom: 0px !important;
        padding-top: 1px !important;
        box-shadow: inset 0px 1px 3px rgba(0,0,0,0.15);
      }
    }
  }
}


/* ERROR */
.eui-error .eui-button .eui-button-form {
  background: #ff7f7f !important;
  box-shadow: 0px 0px 4px #ff0000;
  outline: none;
  animation: eui-error-highlight 0.2s 1;
}
