<h1>Design Files</h1>

<div class="intro">
  Designing and building apps should be fast. Providing sources files makes it easy to conceptualize new layouts in Photoshop.
</div>

<p>
  There is one PSD for each form element and contains the element in all its possible states and variations. Not all the possibilities shown in the PSDs may currently be implemented.
</p>

<ul class="filelist">
  <li>
    <a href="/assets/psds/button.psd"><img src="/assets/images/download-button.png" width="230" /></a>
  </li>
  <li>
    <a href="/assets/psds/button.psd"><img src="/assets/images/download-checkbox.png" width="230" /></a>
  </li>
  <li>
    <a href="/assets/psds/button.psd"><img src="/assets/images/download-input.png" width="230" /></a>
  </li>
  <li>
    <a href="/assets/psds/button.psd"><img src="/assets/images/download-select.png" width="230" /></a>
  </li>
</ul>
