<h1>Philosophy</h1>

<p>
  EmberUI was designed to make building complex web applications simple. Web applications share a common set of components that is needed over and over again. It used to be that you would stitch together a variety of jQuery plugins of dubious quality to make your application function, but that does not lead to great experiences. There needs a better way.
</p>
<p>
  EmberUI tries to to be this library&mdash;a uniform set of components that can be depended on to be of very high quality and flexible in their design. Each component's feature set is carefully reconsidered and a ton of attention is paid to the design to make it both usable and "fun".
</p>
<p>
  Because of our design first approach EmberUI is going to be opinionated. There are design decisions that have been made a very long time that we do not think are good design and we are going to callenge them. They will not make their way into EmberUI. An example of this is optgroups for selects and text inputs for date selectors.
</p>

<h3>What EmberUI is not</h3>
<p>
  EmberUI is not a CSS framework. It will not assist you in laying out or styling your application. Ambitious interfaces requires creativity and CSS frameworks prevent that. IF you so choose you may use EmberUI in conjuction with a CSS framework.
</p>


<h1>Technical Details</h1>

<p>
  EmberUI users EAK for its build process. This will change in the near future to make use of <a href="https://github.com/stefanpenner/ember-cli">ember-cli</a>.  See the <a href="http://iamstef.net/ember-app-kit/guides/getting-started.html">EAK Getting Started</a> guide to get up and running building EmberUI yourself right now.
</p>

<p>
  EmberUI makes use of the <a href="https://github.com/square/es6-module-transpiler">ES6 module transpiler</a>.
</p>


<h3>Dependancies</h3>

<p>
  We try to stay clear of introducing dependencies other than Ember as much as possible. In the future we would like to eliminate them, but they have made getting to this point much faster.
</p>

<ul class="dependencies">
  <li>
    <a href="fontawesome.io">FontAwesome</a>
    <p>
      Icons used by EmberUI such as the <em>select</em> and <em>dropbutton</em>'s arrows make use of FrontAwesome. It is overkill to include an entire icon font just for two icons so in the future we would like to eliminate this need either by creating out own icon font, or making use of svg icons.
    </p>
  </li>
</ul>



<h1>Design Files</h1>

<p>
  You can use these PSDs to make mocking up layouts with EmberUI super fast. There is one PSD for each form element and it contains the element in all its possible states and variations. EmberUI is under heavy development so not all the possibilities shown in the PSDs may currently be implemented.
</p>

<ul class="filelist">
  <li class="fa fa-download">
    <a href="/assets/psds/button.psd">Button</a>
  </li>
  <li class="fa fa-download">
    <a href="/assets/psds/checkbox.psd">Checkbox</a>
  </li>
  <li class="fa fa-download">
    <a href="/assets/psds/input.psd">Input</a>
  </li>
  <li class="fa fa-download">
    <a href="/assets/psds/select.psd">Select</a>
  </li>
</ul>
