<div style="padding: 50px 100px; text-align: center;">
  <h1>Hello {{content.name}}!</h1>

  <br />

  {{content.message}}

  <br /><br /><br />

  <a href="" {{action "closeModal"}}>Close Modal</a>
</div>
