<div style="height: 300px; width: 500px; padding: 20px; text-align: center;">
  hello {{content.name}} <br />

  \{{eui-button label="Close"}}<br />

  <br /><br />
  <br /><br />
  <br /><br />
  <br /><br />
  <br /><br />

  <a href="" {{action "closeModal"}}>Close</a>
</div>
