<h1>modal</h1>

<div class="intro">
  ...
</div>

<h2>Parameters</h2>

<ul class="parameterindex">
  <li class="header">Aesthetic</li>
  <li><a href="#section-class">class</a></li>
  <li><a href="#section-style">style</a></li>
</ul>



<h4 id="section-label">class <span>string</span></h4>
<p>
  ...
</p>

<div class="output">
  {{eui-button label='Open Modal' action='showModal'}}
</div>

