<div class="banner">
  <div class="flexwrapper">
    <div class="flexobject">
      <h1>EmberUI</h1>
      <h2>A component library for crafting ambitious interfaces.</h2>
      <br />

      {{#eui-button action="viewDocumenation"}}
        Documentation
      {{/eui-button}}

      {{#eui-button action="viewGithub"}}
        GitHub
      {{/eui-button}}
    </div>
  </div>

  <div class="download">
    <div class="container">
      <ul>
        <li>Version <strong>1.0.0-beta.4</strong></li>
        <li><a href="http://venn.lc">Built by Venn</a></li>
      </ul>
    </div>
  </div>
</div>
