<div class="eui-verticalspacer">
  <div class="eui-modalobject">
    <div class="eui-modalwrapper">
      {{view contentViewClass contentBinding="content"}}
    </div>
  </div>
</div>

<div class="eui-overlay"></div>
