{{#if renderModal}}
  <div class="eui-modal-wrapper">

    <div class="eui-modal-table">
      <div class="eui-modal-cell">

        <div class="eui-modalobject">
          <div class="eui-modalobject-wrapper">
            {{#if programmatic}}
              {{view contentViewClass content=content}}
            {{else}}
              {{yield}}
            {{/if}}
          </div>
        </div>

      </div>
    </div>

    <div class="eui-overlay"></div>
  </div>
{{/if}}
