{{eui-button
  label=view.label
  disabled=disabled
  style=style
  size=size
  width=width
  classBinding=":eui-select showCalendar:eui-active"
  action="toggleCalendar"
  icon="eui-icon"}}

{{#if renderModal}}
  {{eui-calendar
    style="popup"
    selection=selection
    allowMultiple=allowMultiple
    class="eui-animation"
    selectAction="closeCalendar"
    disablePast=disablePast
    disableFuture=disableFuture
    maxPastDate=maxPastDate
    maxFutureDate=maxFutureDate
    disabledDates=disabledDates}}
{{/if}}

{{#if errorMessage}}
  <div class="eui-error-message">
    <div class="eui-error-wrapper">
      <p>
        {{errorMessage}}
      </p>
    </div>
  </div>
{{/if}}
