{{#if isOpen}}
  <div class="eui-modal-wrapper">
    <div class="eui-modalobject">
      <div class="eui-modalobject-wrapper">
        {{#if programmatic}}
          {{view contentViewClass contentBinding="content"}}
        {{else}}
          {{yield}}
        {{/if}}
      </div>
    </div>

    <div class="eui-overlay"></div>
  </div>
{{/if}}
