{{eui-button
  label=view.label
  disabled=disabled
  style=style
  size=size
  width='100%'
  classBinding=":eui-select selectClass poplistIsOpen:eui-active"
  trailingIcon="eui-icon"
  ariaOwns=ariaOwns
  ariaHaspopup=ariaHasPopup}}

{{#if errorMessage}}
  <div class="eui-error-message">
    <div class="eui-error-wrapper">
      <p>
        {{errorMessage}}
      </p>
    </div>
  </div>
{{/if}}
