<button {{bind-attr disabled="isDisabled" }}></button>

<div class="eui-select-form">
  <div class="eui-wrapper">
    <i>{{view.label}}</i>
    <b class="eui-icon"></b>
  </div>
</div>

{{#if errorMessage}}
  <div class="eui-error-message">
    <div class="eui-error-wrapper">
      <p>
        {{errorMessage}}
      </p>
    </div>
  </div>
{{/if}}
