eui-selectdate {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  outline: none;

  .eui-component-wrapper {
    text-align: left
  }

  .eui-trailing-icon {
    position: absolute;
    right: 8px;
    top: 0px;
    height: 100%;
    padding-left: 7px;

    &:before {
      content: "\f106\A\f107";
      font-family: "FontAwesome";
      display: inline-block;
      line-height: 0.8em;
      white-space: pre;
      text-align: center;
      vertical-align: middle;
      margin-top: -2px;
    }
  }

  /* Disabled */
  &.eui-disabled {
    pointer-events: none;
  }

  &.eui-placeholder {
    .eui-label-value {
      opacity: 0.6;
    }
  }

  .eui-trailing-icon {
    opacity: 0.4;
  }
}
