<div {{bind-attr class="view.scrolled:scrolled"}}>
  <div class="site-navigation">
    <div class="container">
      <ul>
        <li>{{link-to "EmberUI" "index"}}</li>
        <li>{{link-to "Documentation" "documentation"}}</li>
        <li><a href="https://medium.com/emberui-updates/">Blog</a></li>
        <li><a href="https://github.com/emberui/emberui">Fork it!</a></li>
      </ul>
    </div>
  </div>

  {{outlet}}
</div>
