<div class="container">
  <div class="docs-navigation">
    <h6 class="fa fa-lightbulb-o">Concepts</h6>
    <ul>
      <li>Sizing &amp; Layout</li>
      <li>Styles &amp; Theming</li>
      <li>Error Handling</li>
    </ul>

    <h6 class="fa fa-cogs">Components</h6>
    <ul>
      <li>{{link-to "Button" "documentation.button"}}</li>
      <li>Input</li>
      <li>Textarea</li>
      <li>Checkbox</li>
      <li>Select</li>
      <li>List Window</li>
      <li>Modal Dialog</li>
    </ul>
  </div>

  <div class="docs-content">
    {{outlet}}
  </div>
</div>
