<div {{bind-attr class=":banner isDemoActive:demo"}}>
  <div class="site-navigation">
    <div class="container">
      <ul>
        <li>{{link-to "EmberUI" "index"}}</li>
        <li>{{link-to "Documentation" "documentation"}}</li>
        <li><a href="https://medium.com/emberui-updates/">Blog</a></li>
        <li><a href="https://github.com/emberui/emberui">Fork it!</a></li>
      </ul>
    </div>
  </div>

  <div class="slide1">
    <h1>EmberUI</h1>
    <h2>A component library for crafting <br /> ambitious interfaces.</h2>
    <br />
    <div class="demo" {{action "showDemo"}}><span>Launch Demo</span></div>
  </div>

  <div class="slide2">
    <h1>demo!</h1>
  </div>

  <div class="background"></div>
</div>

<div class="container">
  <p>Homepage content goes here.</p>
  <br />
  <br />
  <br />
  <br />
</div>
