<div class="banner">
  <div class="container">
    <h1>EmberUI</h1>
    <h2>A component library for crafting <br /> ambitious interfaces.</h2>
    <br />
    <div class="demo"><span>Launch Demo</span></div>
  </div>
</div>

<div class="container">
  <p>Homepage content goes here.</p>
  <br />
  <br />
  <br />
  <br />
</div>
