@media (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    min-width: 0px;
  }

  .container {
    width: auto;
  }

  .site-navigation {
    ul {
      display: none;
      float: none;
      padding-bottom: 15px;

      li {
        float: none;
        line-height: 35px;
      }

      &.active { display: block; }
    }

    .show-links {
      display: block;
    }
  }

  .docs-navigation {
    float: none;
    overflow: auto;
    width: 100%;

    .mobile-float {
      float: left;
    }

    .mobile-float-right {
      float: left;
    }
  }

  .docs-content {
    width: auto;
    float: none;
  }
}
